/* Write your custom CSS here */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.paginate_button.active .page_link {
  background-color: grey !important;
  border: 1px solid red !important;
}
